<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script defer src="../js/sign-up.js"></script>
    <title>Document</title>
</head>
<body>
    <header class="upp-title blue-text">
        <div>
            <a href="./index.html">
                <img class="rocket-logo" src="../../assets/img/logo-rr.png" alt="mega rocket logo">
            </a>
        </div>
    </header>
    <main>
        <h1 class="upp-title white-text">Sign up</h1>
        <form id="form">
            <div class="div-form">
                <div class="div-fields">
                    <div class="div-each-field">
                        <label class="form-label" for="email">Email</label>
                        <input id="email" type="text" name="email" placeholder="example@example.com">
                        <p id="error-email" class="none" >Invalid email format</p>
                    </div>
                    <div class="div-each-field">
                        <label class="form-label" for="password">Password</label>
                        <input id="password" type="password" name="password" placeholder="Password">
                        <p id="error-password" class="none">
                            The password must be at least 8 characters including letters and numbers
                        </p>
                    </div>
                </div>
                <div class="div-fields">
                    <div class="div-each-field">
                        <label class="form-label" for="re-password">Repeat Password</label>
                        <input id="re-password" type="password" name="re-password" placeholder="Password2">
                        <p id="error-re-password" class="none" >Password must be the same</p>
                    </div>
                    <div class="div-each-field">
                        <label class="form-label" for="name">Name</label>
                        <input id="name" type="text" name="name" placeholder="Homero">
                        <p id="error-name" class="none" >The Name field must contain only alphabets</p>
                    </div>
                </div>
                <div class="div-fields">
                    <div class="div-each-field">
                        <label class="form-label" for="surname">Surname</label>
                        <input id="surname" type="text" name="surname" placeholder="Thompson">
                        <p id="error-surname" class="none" >The Surname field must contain only alphabets</p>
                    </div>
                    <div class="div-each-field">
                        <label class="form-label" for="dni">DNI</label>
                        <input id="dni" type="text" name="dni" placeholder="30200300">
                        <p id="error-dni" class="none" >
                            The DNI must contain at least 8 numbers
                        </p>
                    </div>
                </div>
                <div class="div-fields">
                    <div class="div-each-field">
                        <label class="form-label" for="birth-date">Birth Date</label>
                        <input id="birth-date" type="date" name="birth-date" placeholder="01-01-1999">
                        <p id="error-birth-date" class="none" >Invalid Birth Date</p>
                    </div>
                    <div class="div-each-field">
                        <label class="form-label" for="phone-number">Phone Number</label>
                        <input id="phone-number" type="text" name="phone-number" placeholder="123456789">
                        <p id="error-phone-number" class="none" >
                            The Phone Number must only contain 10 numbers
                        </p>
                    </div>
                </div>
                <div class="div-fields">
                    <div class="div-each-field">
                        <label class="form-label" for="address">Address</label>
                        <input id="address" type="text" name="address" placeholder="Fake Street 123">
                        <p id="error-address" class="none" >
                            The Address field must only contain alphabets, numbers and space
                        </p>
                    </div>
                    <div class="div-each-field">
                        <label class="form-label" for="city">City</label>
                        <input id="city" type="text" name="city" placeholder="Springfield">
                        <p id="error-city" class="none" >
                            The city field must only contain alphabets and numbers
                        </p>
                    </div>
                </div>
                <div class="div-fields">
                    <div id="postal" class="div-each-field">
                        <label class="form-label" for="postal-code">Postal Code</label>
                        <input id="postal-code" type="text" name="postal-code" placeholder="5000">
                        <p id="error-postal-code" class="none" >
                            The Postal Code must be at least 4 numbers
                        </p>
                    </div>
                </div>
                <img id="din-dan" class="none" src="../../assets/img/din.gif" alt="dino dance">
                <input class="button-form" type="submit" value="Register">
                <p id="form-error" class="none">*All fields must be complete</p>
                <p id="form-success" class="none">You have successfully registered!</p>
                <a class="already" href="./login.html">Already have an account? LOG IN!</a>
            </div>
        </form>
    </main>
</body>
</html>