body{
    background-color: #ECE9F1;
    font-family: 'Roboto', sans-serif;
}
.upp-title{
    text-transform: uppercase;
}
.blue-text{
    color: #373867;
}
.white-text{
    color: #fff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff
}
a:hover{
    color: #AACE9B
}
main{
    margin-left: 271px;
}
header{
    width: 100%;
    height: 217px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
h1{
    padding-top: 70px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
header img{
    position: fixed;
    top: 48px;
    left: 85px;
}
aside{
    float: left;
    width: 271px;
    height: 7905px;
    background-color: #373867;
    text-align: center;
}
nav{
    position: fixed;
    left: 22px;
    margin-top: 80px;
}
#nav-text li:nth-child(1),
#nav-text li:nth-child(2),
#nav-text li:nth-child(3),
#nav-text li:nth-child(4){
    margin-top: 50px;
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
}
#nav-text li:nth-child(4){
    margin-top: 127px;
    margin-bottom: 8px;
}
#nav-text li:nth-child(5),
#nav-text li:nth-child(6),
#nav-text li:nth-child(7),
#nav-text li:nth-child(8),
#nav-text li:nth-child(9){
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
#philosophy-img{
    width: 1244px;
    height: 624px;
    background-image: url(../../assets/img/blue-gym-banner.png);
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
}
#philosophy-text h2{
    padding-top: 178px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
#philosophy-text p{
    display: inline-block;
    width: 597px;
    padding: 64px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
#why-mega{
    position: relative;
    float: left;
    width: 590px;
    margin-top: 122px;
    margin-left: 46px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
}
#why-mega h2{
    margin-bottom: 56px;
}
#why-mega img{
    position: absolute;
    width: 44px;
    height: 50px;
    top: 0px;
    left: 400px;
}
#people-exercising{
    float: right;
    width: 577px;
}
.join-act-title{
    display: inline-block;
    margin-top: 160px;
    padding: 30px 110px 30px 180px;
    background-color: #373867;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.activities{
    position: relative;
    display: inline-block;
    width: 40%;
    height: 471px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
    font-size: 40px;
}
.activities h3{
    position: absolute;
    top: 104px;
    left: 137px;
}
.activities p{
    position: absolute;
    top: 200px;
    left: 17px;
}
#crossfit{
    margin-top: 120px;
    margin-left: 160px;
    background-image: url(../../assets/img/crossfit.png);
}
#spinning{
    margin-top: 120px;
    background-image: url(../../assets/img/spinning.png);
}
#functional{
    margin-left: 160px;
    background-image: url(../../assets/img/funcional.png);
}
#boxing{
    background-image: url(../../assets/img/boxi.png);
}
#weight-training{
    margin-left: 160px;
    background-image: url(../../assets/img/musculacion.png);
}
#membership-section{
    margin-bottom: 450px;
}
.mega-memb-title{
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 30px 80px 30px 80px;
    background-color: #373867;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
article{
    display: inline-block;
    width: 30.7%;
    height: 463px;
    padding-bottom: 40px;
    box-sizing: border-box;
    vertical-align: middle;
}
article img{
    width: 385px;
    height: 327px;
}
article h3,
article ul{
    margin: 40px 0px;
}
.gray-margin{
    width: 100%;
    height: 40px;
    background-color: #AFAFC2;
}
.green-title{
    color: #AACE9B;
}
.membership-info{
    width: 326px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    z-index: 2;
}
.membership-info h3,
.membership-info button{
    font-weight: 700;
    font-size: 30px;
}
.membership-info li{
    margin: 17px 0px 0px 40px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #AFAFC2;
}
.membership-info p{
    margin: 20px 0px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
}
.membership-info button{
    background-color: #49A37B;
    border: none;
    width: 326px;
    height: 72px;
}
.function{
    display: inline-block;
    width: 100%;
    padding-bottom: 100px;
}
.function img{
    width: 326px;
    height: 326px;
}
.test-img{
    float: right;
    width: 30%;
    margin-top: 82px;
}
.test-text{
    float: left;
    width: 70%;
}
.function h2,
.function h3,
.function p{
    margin-left: 118px;
}
.function h3,
.function p{
    width: 530px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 32.8016px;
    line-height: 38px;
}
.function h2{
    padding-top: 92px;
    font-weight: 700;
    font-size: 65.6032px;
    line-height: 77px;
}
.reservation{
    background-color: #AACE9B;
}
.membership{
    background-color: #373867;
}
.schedule{
    background-color: #fff;
}
.contact{
    background-color: #919194;
}
form{
    width: 665px;
    height: 694px;
    margin: 145px 290px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
}
.bordered{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #373867;
}
.form-margin{
    margin: 27px 0px;
}
label{
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.write-label{
    text-align: left;
}
input[type="text"]{
    padding: 10px;
    margin: 30px 20px;
}
input[type="email"]{
    padding: 10px;
    width: 400px;
}
form h2{
    padding-top: 36px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
textarea{
    width: 450px;
    height: 130px;
    border-style: none;
}
.button-form{
    margin-top: 45px;
    border: none;
    border-radius: 5px;
    width: 155px;
    height: 35px;
    background-color: #AACE9B;
}
footer{
    width: 100%;
    background-color: #D9D9D9;
    text-align: center;
}
footer div{
    background-color: #fff;
}
footer img{
    display: inline-block;
    margin: 43px 72px;
}
footer p{
    padding: 16px 0px 25px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}