<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script src="../js/login.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Log-in</h1>
        <form id="form">
            <div class="div-form">
                <label class="form-label" for="email">Email</label>
                <input id="email" type="text" name="email" placeholder="example@example.com">
                <p class="error-text none">Invalid email format</p>
                <label class="form-label" for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Password">
                <p class="error-text none">Invalid password</p>
                <div class="div-remember">
                    <input id="option1" type="radio" name="remember">
                    <label for="option1">Remember me</label>
                </div>
                <a href="#">Forgot your password?</a>
                <input class="button-form" type="submit" value="Login">
                <p class="form-error none">*All fields must be complete</p>
                <p class="form-success none">You have successfully logged in!</p>
            </div>
        </form>
    </main>
</body>
</html>