main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 300px;
    padding: 15px 0px;
    background-color:#373867;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 23px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-width: 300px;
    background-color: #FBFBFB;
    text-align: center;
}
.div-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    height: 100%;
    min-width: 260px;
}
.div-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.div-each-field{
    width: 80%;
    margin: 15px 15px;
}
label,
a,
.div-terms{
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 9px;
}
input[type="text"],
input[type="password"],
input[type="input"],
input[type="date"]{
    align-content: center;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.button-form{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 20px;
    width: 35%;
    height: 33px;
    background-color: #FBFBFB;
}
.red-border{
    border-color: red;
    border-style: solid;
}
.green-border{
    border-color: rgb(1, 190, 77);
    border-style: solid;
}
.none{
    display: none;
}
form p{
    border: hidden;
    border-radius: 30px;
    background: rgba(255, 73, 73, 0.4);
    font-size: 10px;
    color: red;
    padding: 5px;
}
#form-error{
    margin-top: 20px;
    background: rgba(255, 73, 73, 0.7);
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
#form-success{
    background: none;
    margin-top: 20px;
    color:  rgb(1, 190, 77);
    font-weight: bold;
    font-size: 12px;
}
.already{
    margin-top: 20px;
    color: blue;
}
@media screen and (min-width:1024px){
    .div-fields{
        flex-direction: row;
    }
    #postal{
        width: 45%;
    }
}