aside{
    display: none;
    width: 390px;
    height: 325px;
    background-color: #373867;
    text-align: center;
}
nav{
    left: 22px;
    margin-top: 80px;
    font-weight: 700;
    font-size: 10.1325px;
    line-height: 12px;
}
#philosophy-img{
    width: 100%;
    max-width: 390px;
    height: 245px;
    background-image: url(../../assets/img/blue-gym-banner.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#philosophy-text h2{
    padding-top: 70px;
    font-weight: 700;
    font-size: 19.0413px;
    line-height: 22px;
}
#philosophy-text p{
    display: inline-block;
    width: 320px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
#why-mega{
    width: 310px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
#why-mega h2{
    margin-bottom: 20px;
}
#why-mega img{
    display: none;
}
#people-exercising{
    display: none;
}
.join-act-title{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 57px;
    background-color: #373867;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.activities{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 269px;
    height: 270px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
.activities h3{
    position: absolute;
    top: 22%;
    left: 12%;
    right: 12%;
}
.activities p{
    position: absolute;
    top: 35%;
    left: 12%;
}
#crossfit{
    background-image: url(../../assets/img/crossfit.png);
}
#spinning{
    background-image: url(../../assets/img/spinning.png);
}
#functional{
    background-image: url(../../assets/img/funcional.png);
}
#boxing{
    background-image: url(../../assets/img/boxi.png);
}
#weight-training{
    background-image: url(../../assets/img/musculacion.png);
}
#membership-section{
    margin-bottom: 50px;
}
.mega-memb-title{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 24px;
    background-color: #373867;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
article{
    display: inline-block;
    width: 100%;
    max-width: 390px;
    height: 800px;
    padding-bottom: 40px;
    box-sizing: border-box;
    vertical-align: middle;
}
article img{
    width: 385px;
    height: 327px;
}
article h3,
article ul{
    margin: 40px 0px;
}
.gray-margin{
    width: 100%;
    height: 40px;
    background-color: #AFAFC2;
}
.green-title{
    color: #AACE9B;
}
.membership-info{
    width: 326px;
    margin: auto;
    text-align: center;
    background-color: #fff;
}
.membership-info h3,
.membership-info button{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.membership-info li{
    margin: 17px 0px 0px 40px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #AFAFC2;
}
.membership-info p{
    margin: 20px 0px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}
.membership-info button{
    background-color: #49A37B;
    border: none;
    width: 326px;
    height: 72px;
}
.function{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}
.function img{
    margin-top: 30px;
    width: 128px;
    height: 128px;
}
.function h2,
.function h3,
.function p{
    margin-left: 73px;
}
.function h3,
.function p{
    width: 250px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.function h2{
    padding-top: 62px;
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
}
.reservation{
    background-color: #AACE9B;
}
.membership{
    background-color: #373867;
}
.schedule{
    background-color: #fff;
}
.contact{
    background-color: #919194;
}
form{
    width: 313px;
    height: 532px;
    margin-top: 60px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
}
.bordered{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #373867;
}
.form-margin{
    margin: 20px;
}
label{
    padding: 10px;
    font-weight: 500;
    font-size: 8px;
    line-height: 9px;
}
input[type="text"]{
    padding: 10px;
    margin: 10px;
    width: 100px;
}
input[type="email"]{
    padding: 10px;
    margin-bottom: 10px;
    width: 244px;
}
form h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
textarea{
    width: 250px;
    height: 40px;
    border-style: none;
}
.button-form{
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 83px;
    height: 27px;
    background-color: #AACE9B;
}